@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background-color: hsla(0, 100%, 90%, 0.3);;
}
/* Navigation */
.navbar{
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    justify-content: space-between;
    background-color: skyblue;
    padding: 20px;
}
.navbar .nav-brand{
    font-size: 32px;
    font-weight: 700;
    padding: 25px;
}
.navbar ul{
    list-style-type: none;
    display: flex;
    padding: 25px;
}
.navbar li{
    margin-left: 12px;
}
a:link, a:visited{
    background-color: black;
    color: white;
    padding: 15px;
}
a:hover, a:active{
    background-color: red;
    color: black;
    padding: 15px;
}
/* Navigation End */

/* Intro */
.intro{
    text-align: center;
    line-height: 45px;
    margin-top: 5%;
    box-sizing: border-box;
    border: 2px solid black;
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #ccc;
}
.intro h1{
    color: gold;
    font-size: 45px;
    font-weight: 900;
    text-decoration:  underline;
}
.intro p{
    font-size: 25px;
    font-style: normal;
    color: white;
}
.intro p .island{
    font-weight: bolder;
    font-style: italic;
    color: black;
}
/* Intro End */

/* Images */
.images{
    border: 2px solid black;
    margin-top: 2%;
}
.images .image-1{
    height: 500px;
    width: 50%;
    float: left;
}
.images .image-2{
    height: 500px;
    width: 50%;
    float: right;
}
/* Images End */

/* Main */
.accomodation{
    text-align: center;
    line-height: 45px;
    border: 2px solid black;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
    background-color: grey;
    color: white;
}
.accomodation h1{
    font-size: 45px;
    font-weight: 900;
}
.accomodation p{
    font-size: 20px;
}
.accomodation p .culture{
    color: skyblue;
}
/* Main End */

/* Accomodation Images */
.accomodation-images{
    border: 2px solid black;
    margin-top: 2%;
}
.accomodation-images img{
    height: 500px;
    padding: auto;
    margin-right: 15px;
    margin-left: 15px;
}
/* Accomodation Images End */


/* Activities */
.activities-intro{
    text-align: center;
    font-size: 38px;
    color: blue;
    text-decoration: underline;
    background-color: gray;
    padding: 20px;
}
.diving{
    line-height: 40px;
    border: 2px solid black;
    margin-top: 0%;
    padding: 25px;
    background-color: skyblue;
    float: left;
}
.activities h1{
    color: deeppink;
    font-size: 45px;
}
/* Activities End */

